<!DOCTYPE html>
<html ng-app ="myApp">
<head>
	<title></title>
	<script src="../bower_components/angular/angular.js"></script>
	<style>
		.red {
			background-color: red;
		}
	</style>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<div ng-controller="LotteryController">
	<div ng-class="{red:x>5}" ng-if="x>5">
		You win!
	</div>
	<button ng-click="x = generateNumber()" ng-init="x=0">Draw Number</button>
	<p>Number is:{{x}}</p>
</div>
<script>
	/**
	*  Module
	*
	* Description
	*/
	angular.module('myApp', [])
	.controller('LotteryController', ['$scope', function ($scope) {
		$scope.generateNumber = function(){
			return Math.floor((Math.random()*10)+1);
		}		
	}])
</script>
</body>
</html>