/*后代选择器——（空格键）——允许您选择嵌套在另一个元素中的某个元素（不一定是直接的后代;例如，它可以是一个孙子）。*/

section p {
	color: blue;
}

/*子选择器—— >——允许您选择一个元素，该元素是另一个元素的直接子元素。*/
section > p {
	background-color: yellow;
}

/*相邻兄弟选择器—— +——允许您选择一个元素，它是另一个元素的直接兄弟元素(也就是说，在它的旁边，在层次结构的同一层)。*/
h2 + p {
	text-decoration: uppercase;
}

/*通用兄弟选择器—— ~— —允许您选择其他元素的兄弟元素(例如，在层次结构中的相同级别，但不一定就在它的旁边)。*/
h2 ~ p {
	border: 1px dashed black;
}